@model PairingTest.Web.Models.QuestionnaireViewModel

@{
    <title>@Model.QuestionnaireTitle</title>
    <div>
        @if (Model.QuestionsText != null)
        {
            foreach (var question in Model.QuestionsText)
            {
                <div>@question</div>
            }
        }
    </div>
}